VITE_APP_NAME=React SPA Boilerplate
VITE_API_BASE_URL=https://api.example.com
ASSEMBLYAI_API_KEY=your_assemblyai_api_key

# 고용노동부 워크넷 OpenAPI 인증키 (예시)
WORKNET_JOB_API_KEY=your_worknet_job_api_key
WORKNET_TRAINING_API_KEY=your_worknet_training_api_key
WORKNET_DUTY_API_KEY=your_worknet_duty_api_key
WORKNET_JOB_INFO_API_KEY=your_worknet_job_info_api_key
WORKNET_CODE_API_KEY=your_worknet_code_api_key
WORKNET_GIANT_API_KEY=your_worknet_giant_api_key
